<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=3, minimum-scale=1, user-scalable=no">
		<link rel="stylesheet" href="__PUBLIC__/Home/css1/icstyle.css" />
		<!--
	作者：张津瑞
	时间：2018-04-07
	描述：(c) Copyright 2018 睿腾网络. All Rights Reserved. 
-->
		<title>个人中心</title>
	</head>

	<body>

		<div class="top_2"><img src="__PUBLIC__/Home/images1/car3.jpg" width="100%" height="100%" />
		</div>
		<div class="top_3">
			<p>小唯快修</p>
		</div>
		<div class="center">
			<img src="__PUBLIC__/Home/images1/dingdan.png" width="5%" height="45%" /><p class="center_0">我的订单</p>
			<a href="__URL__/five.html"><span class="center_1">&gt</span> </a>
		</div>
		<div class="center">
			<img src="__PUBLIC__/Home/images1/youhuiquan.png" width="5%" height="45%" /><p class="center_0">优惠券 </p>
			<a href="Two.html"><strong><span class="center_1">&gt</span></strong> </a>
		</div>
		<div class="center">
			<img src="__PUBLIC__/Home/images1/rexian.png" width="5%" height="45%" /><p class="center_0">热线电话</p><span class="center_1">022-8276-8123</span>
		</div>

	</body>

</html>